body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f9; */
    background-color: gray;
    text-align: center;
}

.main-container {
    background-image: linear-gradient(135deg, #f0f4f8, #d9e2ec);
    padding-top: 100px;
    min-height: 100vh;
}

.todo-container {
    margin-top: 100px;
    background: #eeeeee;
    padding: 50px;
    border-radius: 15px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.todo-ctn {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-ctn h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.todo-item {
    background-color: #fff;
    margin: 12px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #333;
    transition: all 0.3s ease;
    gap: 5%;
    cursor: move;
}

.todo-item:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.todo-button {
    flex: 1;
    width: 10%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.todo-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.remove-btn {
    background-color: #e74c3c;
}

.remove-btn:hover {
    background-color: #c0392b;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.add-todo-input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.add-todo-input:focus {
    outline: none;
    border-color: #007bff;
}

.add-todo-submit {
    background-color: #28a745;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 500px;
}

.add-todo-submit:hover {
    background-color: #218838;
}

.empty-todos {
    font-size: 20px;
    color: #888;
    text-align: center;
}

.todo-text {
    flex: 3;
    width: 70%;
    overflow: hidden;
}

.box {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-holder {
    display: flex;
}